{% extends 'blog/base.html' %}
{% block content %}
<!-- <video width="100%" height=auto autoplay muted>
<source src="/media/spearfishing.mp4" type="video/mp4">
Your browser does not support the video tag.
</video> -->
<h1 class="move pl-2 mb-3">Membership</h1>
<img class="spear-img mb-2" src="/media/member.jpg">
<div class="text-section pl-1">
    <p>
        Membership with Cadcadia Dive Club is very straight forward. Simply register on our site and you will get occational emails with upcoming dive trips and events. There is no charge for joining. Cadcadia Dive Club is all about bringing the diving community of the PNW togther to enjoy exploration and appreciation of the underwater world.
    </p>
    <p> If you are interested in diving more, or just joining at one of our hosted dinner parties with fresh caught fish and homemade wine, please consider <a class="about-links" href="{% url 'join' %}">becoming a member today!</a>
    </p>
</div>
{% endblock %}
