@keyframes carousel-text-animation {
  from {color: #e70000;}
  to {color: #fbfbfb;}
}

@keyframes carousel-text-animation-two {
  from {color: #fbfbfb;}
  to {color: #e70000;}
}

.highlight-text {
    color: white;
    text-shadow: 2px -1px 2px black !important;
}

.background-color-highlight {
    background-color: rgba(44, 130, 228, 0.8);
    color: white;
}
.vizable-text {
    text-shadow: 1px 1px 1px black;
    color: #fbfbfb;
    animation-name: carousel-text-animation;
    animation-duration: 5.5s;
    padding-bottom: 10px;
    font-size: 3rem !important;
}

.vizable-text-two {
    text-shadow: 1px 1px 1px black;
    color: #e70000;
    animation-name: carousel-text-animation-two;
    animation-duration: 5.5s;
    padding-bottom: 10px;
    font-size: 3rem !important;
}

.carousel {
    padding-left: 10px !important;
}
