body {
  background-image: url("/media/background_images/fish_background2.jpg");
  color: #333333;
  background-size: 20%;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

footer {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 0px;
}

.list-group-item:hover {
    background-color: darkolivegreen;
    color: white;
}
.videosize {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.carousel-border {
    border: 5px solid darkolivegreen;
}

.navbar-border {
    border: 5px solid darkolivegreen !important;
}

.logo-img {
    height: 70px;
    padding-right: 5px;
    margin-bottom: -10px;
}

.CDC-name {
    font-family: 'Fredericka the Great', cursive !important;
    font-size: 29px;
    text-shadow: 1px 1px 4px black;
    margin-right: 50px !important;
}

.max {
    width: 100% !important
}

.bg-steel {
  background-color: gray;
  padding: 0%;
}

.nav-background {
    background-color: darkolivegreen !important;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
   font-weight: bold;
   color: white;
}

.nav-link.active {
    font-weight: bold !important;
    color: white !important;
    border-bottom: 3px solid blue !important;
    padding-bottom: 5px !important;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
