body {
    background-image: url("/media/background_images/dark-ocean.jpg");
    background-attachment: fixed;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h5, h6 {
    color: #444444;
}

h4 {
    color: #ffb9b9 !important;
}

.map-link {
    color: #ffb9b9 !important;
}

ul {
    margin: 0;
}

header {
    background-image: url("/media/background_images/dark-ocean.jpg")
}

footer {
    color: white !important;
    position: initial;
    bottom: 0;
    margin-left:3px;
}

.side-nav-list {
    margin-bottom: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.side-nav-list-mid {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.name-link {
    color: lightblue;
}

.btn-outline-info {
    color: white !important;
    background-color: rgb(23, 162, 184, .3) !important;
}

.name-link:hover {
    color: yellow !important;
}

.list-group-item {
    color: black !important;
}

.list-group-item:hover {
    background-color: rgb(111, 127, 146, .2);
    color: white !important;
}

.videosize {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.logo-img {
    height: 44px;
    margin-bottom: 27px;
    border: 1px solid black;
}

.flag {
    object-fit: cover;
    width: 100%;
    border: 1px solid white;
}

.CDC-name {
    margin-right: 50px !important;
    padding-left: 5px !important;
    color: #353835 !important;
    font-size: 37px !important;
}

.max {
    width: 100% !important
}

.bg-steel {
    background-color: gray;
    padding: 0%;
}

.nav-background {
    background-image: url("/media/background_images/dark-ocean.jpg");
}

.site-header .navbar-nav .nav-link {
    color: #353835;
}

.nav-reviz {
    padding-right: 1px !important;
    padding-left: 0px !important;
    margin-left: 1rem !important;
}

.CDC-name:before {
    position: absolute !important;
    content: attr(data-text) !important;
    background: -webkit-linear-gradient(pink, red) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    width: 0% !important;
    overflow: hidden !important;
    transition: 1s;
}

.CDC-name:hover:before {
    width: 100% !important;
}

.site-header .navbar-nav .nav-link:hover {
    color: #e70000;
}

.nav-link.active {
    color: #e70000 !important;
    border-bottom: 2px solid #5a6a7e !important;
    padding-bottom: 5px !important;

}

.nav-subheader {
    color: white;
}

.navbar-content {
    color: white;
}

.content-section {
    background: rgb(111, 127, 146, .8);
    padding: 10px 20px;
    border-radius: 3px;
    margin-bottom: 20px;
    border: 1px solid white;
}

.article-title {
    color: white;
}

.recent-dive-posts {
    size: 110%;
}

a.article-divers {
    color: white !important;
}

a.article-title:hover {
    color: rgba(143, 194, 210);
    text-decoration: none;
}

.article-date {
    color: black;
    font-size: 100% !important;
    font-weight: bold;
}

.article-content {
    white-space: pre-line;
    color: white !important;
    /* font-weight: bold; */
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

@media all and (max-width: 400px) {
    .CDC-name {
        font-size: 18px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1200px !important;
        padding: 0px !important;
    }
    /* .main-div {
    padding: 0px !important;
    } */
}
