{% extends 'blog/base.html' %}
{% block content %}

<h1 class="move">About: All about Cascadia Dive Club</h1>
<br>
<div class="row">
    <div class="col-4">
        <img class="responsive" src="/media/profpic2.jpg">
    </div>
    <div class="col-8 text-section">
        <p>
            Founder of Cascadia Dive Club, <a href="https://www.linkedin.com/in/aaronedwardglenn/">Aaron Edward Glenn</a>, begain his journey in Yellowstone National Park where he worked for the Youth Concervation Corps doing habitat restoration work and studying conservation science in the early 2000s. Aaron took the knowlege gained in Yellowstone to SE Asia where he created the curriculum for dive shops accross the region to teach Underwater Naturalist certification courses in partership with National Geographic. When the knowlege of the success of this ecotourism focused program spread, Aaron was recruited to set up similar courses in Cambodia, Vietnam, and on the Bay Islands of Honduras.
        </p>
        <p>
            With over 15 years of experiance, Aaron now brings his expertise to the creation of the PNW's first evironmentally focused dive club. Cascadia Dive Club incorporates marine ecology elements to dive trips, beginner and advanced SCUBA certiciations, sustainable spearfishing excurtions, and offers the most comprehensive, locally focued Underwater Naturalist course ever introduced to the region.
        </p>
        <p>
            At Cascadia Dive Club, we not only attempt to teach divers what they can do on an idvidual level to help protect our local marine habitats, we also strive to keep SCUBA diving accessable to everyone. By focusing on unique river and lake diving in Oregon and SW Washington, and not just expensive dive charters, we offer guided dives with professional instructors at affordable rates.
        </p>
        <p>
            We invite you to <a href="{% url 'join' %}">become a member of Cascadia Dive Club</a> and join our thriving diving community!
        </p>
    </div>
</div>
{% endblock %}
