{% extends 'blog/base.html' %}
{% block content %}

<h1 class="move">About: All about Cascadia Dive Club</h1>
<br>
<div class="row">

    <!-- <video width="800px" height=auto controls loop autoplay muted>
    <source src="/media/diver_vid.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video> -->
<div class="col-4">
    <img class="responsive" src="/media/profpic2.jpg">
</div>
<div class="col-8 text-section">
    <p>
        Founder of Cascadia Dive Club, <a href="https://www.linkedin.com/in/aaronedwardglenn/">Aaron Edward Glenn</a>, begain his journey in Yellowstone National Park where he worked for the Youth Concervation Corps doing habitat restoration work and studying conservation science in the early 2000s. Aaron took the knowlege gained in Yellowstone to SE Asia where he created the curriculum for dive shops accross the region to teach Underwater Naturalist certification courses in partership with National Geographic. When the knowlege of the success of ecotourism in the region spread, Aaron was recruited to set up similar programs in Cambodia, Vietnam, and on the Bay Islands of Honduras.
    </p>
    <p>
        With over 15 years of experiance, Aaron now brings his expertise to the creation of the PNW's first evironmentally focused dive club. Cascadia Dive Club incorporates marine ecology elements to dive trips, beginner and advanced SCUBA certiciations, sustainable spearfishing excurtions, and offers the most comprehensive, locally focued Underwater Naturalist course ever introduced to the region.
    </p>
    <p>

    </p>
</div>
</div>
{% endblock %}
