<main class="max">
    <div class="container">
        <div class="carousel slide" data-interval="3500" data-pause="false" id="main-carousel" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#main-carousel" data-slide-to="1"></li>
                <li data-target="#main-carousel" data-slide-to="2"></li>
                <li data-target="#main-carousel" data-slide-to="3"></li>
            </ol>

            <div class="carousel-inner rounded carousel-border">
                <div class="carousel-item active">
                    <img src="/media/carousel/julie-gautier.jpg" alt="" class="d-block img-fluid">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 class="vizable-text media-large">ECOLOGY</h1>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block img-fluid" src="/media/carousel/ship-carousel.jpg" alt="shipdiving">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 class="vizable-text-two media-large">EXCURSIONS</h1>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="{% url 'blog-about' %}">
                    <img class="d-block img-fluid" src="/media/carousel/spearing3.jpg" alt="">
                    <div class="carousel-caption d-none d-md-block">
                    <h1 class="vizable-text media-large">SPEARFISHING</h1>
                    </a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block img-fluid" src="/media/carousel/training-carousel.jpg" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 class="vizable-text-two media-large">CERTIFICATION</h1>
                    </div>
                </div>
            </div><!-- /.carousel-inner -->

            <a href="#main-carousel" class="carousel-control-prev" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="sr-only" aria-hidden="true">Prev</span>
            </a>
            <a href="#main-carousel" class="carousel-control-next" data-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="sr-only" aria-hidden="true">Next</span>
            </a>
        </div><!-- /.carousel -->
    </div><!-- /.container -->
