<main class="max">
    <div class="container">
        <div class="carousel slide" id="main-carousel" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#main-carousel" data-slide-to="1"></li>
                <li data-target="#main-carousel" data-slide-to="2"></li>
                <li data-target="#main-carousel" data-slide-to="3"></li>
            </ol>

            <div class="carousel-inner rounded carousel-border">
                <div class="carousel-item active">
                    <img class="d-block img-fluid" src="/media/carousel/diving1.png" alt="waterfall1">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 class="vizable-text media-large">Dive in the beautiful PNW</h1>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="{% url 'blog-about' %}">
                    <img class="d-block img-fluid" src="/media/carousel/spearfishing_carousel.jpg" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="highlight-text">Join us on a spearfishing expidition!</h3>
                        <p class="text-warning">New to the sport? We teach lessons!</p>
                    </a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block img-fluid" src="/media/carousel/instruction1.jpg" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="highlight-text">Comprehensive Dive Training</h3>
                        <p class="background-color-highlight">PADI dive certifications are offered through Cascadia Dive Club. Whether you are new to diving or seeking to advance you skills, we offer a full range of training.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/media/carousel/naturalist.jpeg" alt="" class="d-block img-fluid">
                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="highlight-text">Become a certified Underwater Naturalist</h3>
                        <p class="background-color-highlight">Learn about Oregon's local marine floura and fauna in this incredibly rewarding course. Earn college credit too!</p>
                    </div>
                </div>
            </div><!-- /.carousel-inner -->

            <a href="#main-carousel" class="carousel-control-prev" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="sr-only" aria-hidden="true">Prev</span>
            </a>
            <a href="#main-carousel" class="carousel-control-next" data-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="sr-only" aria-hidden="true">Next</span>
            </a>
        </div><!-- /.carousel -->
    </div><!-- /.container -->
