{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="article-title">Log New Dive</h2>
        <fieldset class="form-group solid">
            <legend class="border-bottom mb-4"></legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Log!</button>
        </div>
    </form>

</div>
{% endblock %}
