{% extends 'blog/base.html' %}
{% block content %}
    <!-- <video width="100%" height=auto autoplay muted>
        <source src="/media/spearfishing.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video> -->
<h1 class="move pl-2 mb-3">Become a PADI Underwater Naturalist</h1>
        <img class="spear-img mb-2" src="/media/naturalist.jpg">
<div class="text-section pl-1">
    <p>
        Diving is all about what you see beneath the surface. When you’re immersed in the big blue, you’re in a world filled with fascinating creatures, plants and other-worldly landscapes.
        Admiring the beauty beneath the waves is one thing, but appreciating how the underwater environment functions, on a more complex level, is something that will enhance your diving experiences in ways you might not expect.

        The better you understand the aquatic environment, the more you’ll be able to savor the sights you encounter on your dives. Go beyond simply recognizing the occasional fish by taking the PADI Underwater Naturalist Course. In the course, you’ll learn to identify fish, animals and plants, and then take your knowledge to the next level with comprehension of how their interactions affect each other and the environment.
    </p>
    <p>
        In the PADI Underwater Naturalist Course you’ll learn:
        The major aquatic life groupings, interactions and factual information that dispels negative myths.
        The role of aquatic plants, food chains and predator/prey relationships
        How to interact responsibly with aquatic life
        The underwater naturalist’s view of organisms and their roles in the environment.
    </p>
    <p>
        Two open water dives will help you apply the course information to a real-world diving situation. As you look around, behavior you might have ignored before becomes a fascinating show of the interplay between species – a little like diving into your very own nature documentary.
    </p>
    <p>
        If you’re passionate about diving, it’s only natural that you’re also enthusiastic about conservation, and the Underwater Naturalist course is a great way to get started toward becoming an underwater conservationist. The knowledge you gain in the course will stay with you for a lifetime, giving you more to enjoy with every dive and making you a stronger advocate for both the sport and underwater life.
    </p>
</div>
{% endblock %}
