{% extends 'blog/base.html' %}
<title>About</title>
{% block content %}

<h1 class="move pl-2">Diving in the Pacific Northwest</h1>
<br>
<div class="row">
    <div class="col-4">
        <!-- <img class="responsive mb-2" src="/media/logo2.png"> -->
        <img class="responsive mb-2" src="/media/oregondive.jpg">
    </div>
    <div class="col-8 text-section">
        <h2 class="cert-title">SCUBA Diving Certifications</h2>
        <p>
            We often get asked by divers or those interested in diving: where exatctly can you dive here in the PNW?
        </p>
        <p>
            
        </p>
    </div>
</div>
{% endblock %}
