{% extends 'blog/base.html' %}
<title>About</title>
{% block content %}

<h1 class="move pl-2">Diving in the Pacific Northwest</h1>
<br>
<div class="row">
    <div class="col-4">
        <!-- <img class="responsive mb-2" src="/media/logo2.png"> -->
        <img class="responsive mb-2" src="/media/oregondive.jpg">
    </div>
    <div class="col-8 text-section">
        <!-- <h2 class="cert-title">SCUBA Diving Certifications</h2> -->
        <p class="mt-2">
            We often get asked by new divers to the area or those interested in learning to dive: Where exactly can you dive here in the PNW?
        </p>
        <p>
            The answer is that there are soo many incredible places to dive here! First off, the fresh water diving around Oregon and Washington is truly exceptional. We lead divers into rivers like the Molalla and Washougal on a weekly basis from mid-May till mid-October. Clear lake and Waldo lake are also fantastic places to dive during this time. The water is so clear it's like diving into an emerald gem. Feel like you're flying through tropical waters during the dive and enjoy pristine views of mountain tops during your surface interval! It's an experience unrivaled by dive trips anywhere else in the world.
        </p>
        <p>
            Secondly, the Oregon coast and the Puget Sound have diving year round that boast an incredible plethora of marine life. See the likes of harbor seals to wolf eels and everything in between. World famous diver Jaque Cousteau once said his favorite diving spots in the world are Egypt and the PNW as a close second. Trust the experts, the ocean diving here is absolutely magical.
        </p>
    </div>
</div>
{% endblock %}
