{% extends 'blog/base.html' %}
{% block content %}
<h1 class="move pl-2 mb-3">Recommended Dive Gear</h1>
<img class="spear-img mb-2" src="/media/recgear.jpg">
<div class="text-section pl-1">
    <p>
        We are not sellers of dive gear. However, with years of experiance diving, there has been gear that we have come accross that is better than others.
    </p>
    <p>
        Diving is like driving; when you know your car and trust it, you don't really think about where to put your hand to find the turn signal, or where to look to see behind you. All that becomes automatic, and you end up just enjoying the open road.
    </p>
    <p>
        Having dive gear that you can trust and are familliar with simply makes for a better diving experiance. With that in mind, here is a list of everything that we would reccomend for any diver looking to get new or updated gear:
    </p>
    <p>
        BCD: <a target="_blank" class="about-links" href="https://scubapro.johnsonoutdoors.com/bcds/bcds/hydros-pro-bcd-w-bpi-men">SCUBAPRO HYDROS PRO BCD, W/ BPI</a>
    </p>
    <p>
        REGULATOR: <a class="about-links" target="_blank" href="https://scubapro.johnsonoutdoors.com/regulators/systems/mk17-evog260-dive-regulator-system-int">SCUBAPRO MK17 EVO/G260</a>
    </p>
    <p>
        DIVE COMPUTER: <a class="about-links" target="_blank" href="https://www.suunto.com/en-us/Products/Dive-Computers-and-Instruments/Suunto-Vyper-Novo/suunto-vyper-novo-white2/">SUUNTO VYPER NOVO</a>
    </p>
    <p>
        FINS: <a class="about-links" target="_blank" href="https://scubapro.johnsonoutdoors.com/fins/fins/twin-jet-max-fin">SCUBAPRO TWIN JET MAX</a>
    </p>
    <p>
        MASK: <a class="about-links" target="_blank" href="http://www.seadivemasks.com/rayblocker-hd-masks/eagl">EAGLEEYE RAYBLOCKER HD</a>
    </p>
    <p>
        SNORKEL: <a class="about-links" target="_blank" href="http://www.aqualung.com/ca/dive-gear/nautilus-travel-snorkel">AQUALUNG NAUTILUS</a>
    </p>
    <p>
        WETSUIT(COLD H20): <a class="about-links" target="_blank" href="http://www.aqualung.com/ca/dive-gear/wetsuits/solafx">AQUALUNG SOLAFX</a>
    </p>
    <p>
        WETSUIT(WARMER H20): <a class="about-links" target="_blank" href="http://www.aqualung.com/ca/dive-gear/wetsuits/aquaflex-7-5-3-jumpsuit">AQUALUNG AQUAFLEX</a>
    </p>
    <p>
        DIVE HOOD: <a class="about-links" target="_blank" href="http://www.aqualung.com/ca/dive-gear/wetsuits/7-4-seahood-flex-2">AQUALUNG SEAHOOD FLEX</a>
    </p>
    <p>
        GLOVES: <a class="about-links" target="_blank" href="https://www.divers-supply.com/deep-see-glove-4mm-dry-comfort-md.html?utm_source=froogle&utm_medium=cpc&utm_campaign=froogle&utm_content=DES-D349413us&gclid=Cj0KCQjwgJv4BRCrARIsAB17JI5qhTsSlMLyGdDnLk5sLZ4Qw88J9K_lzEDO64S75WRAygPc1YnYgpMaAhqTEALw_wcB&">DEEP SEE 4MM DRY COMFORT GLOVE</a>
    </p>
    <p>
        DIVE LIGHT: <a class="about-links" target="_blank" href="https://www.amazon.com/VOLADOR-Flashlight-Waterproof-Rechargeable-Submersible/dp/B01LZLWZWT/ref=sr_1_1_sspa?dchild=1&keywords=dive+light&qid=1594340671&sr=8-1-spons&psc=1&smid=AMCYWM6NFUQFC&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExSkVGSzBYUFo0WVBCJmVuY3J5cHRlZElkPUEwNDMxODY0MjJGQ0E1TVhPUjBKOSZlbmNyeXB0ZWRBZElkPUEwMjQ3OTE0M1A2NENKSkk5S0YyTyZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=">VOLADOR 1000 LUMEN</a>
    </p>
    <p>
        ...more to come soon!

    </p>
</div>
{% endblock %}
