{% extends 'blog/base.html' %}
{% block content %}

<h1 class="check-heading ml-2">
    Here is a list of everything you will need to bring on your trip with Cascadia Dive Club:
</h1>
<div class="list row pl-4">
    <div class="col-4">

        <h2 class="list-title">
            Dive Gear
        </h2>
        <ol class="font-weight-bold">
            <li>CERTIFICATION CARD</li>
            <li>BCD</li>
            <li>REGULATOR</li>
            <li>TANK(s)</li>
            <li>MASK/SNORKEL/FINS</li>
            <li>WETSUIT</li>
            <li>HOOD/GLOVES/BOOTIES</li>
            <li>DIVE COMPUTER</li>
            <li>MASK DEFOGGER</li>
            <li>WEIGHTS ON WEIGHT BELT</li>
            <li>DIVE KNIFE</li>
            <li>FLASHLIGHT</li>

        </ol>
    </div>
    <div class="col-4">

        <h2 class="list-title">
            Peronsonal Gear
        </h2>
        <ol class="font-weight-bold">
            <li>PARKING PASS (if needed)</li>
            <li>TOWEL</li>
            <li>SUNSCREEN</li>
            <li>MIN 1 LITER OF H20</li>
            <li>LUNCH/SNACKS</li>
            <li>CAMERA</li>
            <li>DIVE LOG</li>
            <li>FIRST AID KIT</li>
            <li>OUTDOOR SHOES</li>
            <li>JACKET</li>
            <li>PHOTO ID</li>


        </ol>
    </div>
    <div class="col-4">

        <h2 class="list-title">
            Spearfishing Gear
        </h2>
        <ol class="font-weight-bold">
            <li>ANGELING/SHELLFISH LICENCE</li>
            <li>SPEARGUN</li>
            <li>EXTRA SPEAR</li>
            <li>EXTRA RUBBERS</li>
            <li>CRAB BAG</li>
            <li>FISH STRINGER</li>
            <li>CRAB GAUGE</li>
        </ol>
    </div>
</div>
<a href="/media/DivetripChecklist.pdf" download><button class="btn">Click to download></button>
{% endblock content %}
